<section>
  <div class="mx-auto  2xl:max-w-6xl 2xl:px-12 w-full  max-w-5xl border-x border-base-300 border-dashed px-4 relative overflow-hidden border-t">
    <div class="relative flex items-center py-8 animate-marquee gap-12 lg:gap-24 whitespace-nowrap">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/1024px-OpenAI_Logo.svg.png"
        alt="b1 Logo"
        width="200"
        height="100"
        loading="lazy"
        decoding="async"
        class="h-4  dark:invert"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/1024px-OpenAI_Logo.svg.png"
        alt="b1 Logo"
        width="200"
        height="100"
        loading="lazy"
        decoding="async"
        class="h-4  dark:invert"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/1024px-OpenAI_Logo.svg.png"
        alt="b1 Logo"
        width="200"
        height="100"
        loading="lazy"
        decoding="async"
        class="h-4  dark:invert"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/1024px-OpenAI_Logo.svg.png"
        alt="b1 Logo"
        width="200"
        height="100"
        loading="lazy"
        decoding="async"
        class="h-4  dark:invert"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/1024px-OpenAI_Logo.svg.png"
        alt="b1 Logo"
        width="200"
        height="100"
        loading="lazy"
        decoding="async"
        class="h-4  dark:invert"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/1024px-OpenAI_Logo.svg.png"
        alt="b1 Logo"
        width="200"
        height="100"
        loading="lazy"
        decoding="async"
        class="h-4  dark:invert"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/1024px-OpenAI_Logo.svg.png"
        alt="b1 Logo"
        width="200"
        height="100"
        loading="lazy"
        decoding="async"
        class="h-4  dark:invert"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/1024px-OpenAI_Logo.svg.png"
        alt="b1 Logo"
        width="200"
        height="100"
        loading="lazy"
        decoding="async"
        class="h-4  dark:invert"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/1024px-OpenAI_Logo.svg.png"
        alt="b1 Logo"
        width="200"
        height="100"
        loading="lazy"
        decoding="async"
        class="h-4  dark:invert"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/1024px-OpenAI_Logo.svg.png"
        alt="b1 Logo"
        width="200"
        height="100"
        loading="lazy"
        decoding="async"
        class="h-4  dark:invert"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/1024px-OpenAI_Logo.svg.png"
        alt="b1 Logo"
        width="200"
        height="100"
        loading="lazy"
        decoding="async"
        class="h-4  dark:invert"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/1024px-OpenAI_Logo.svg.png"
        alt="b1 Logo"
        width="200"
        height="100"
        loading="lazy"
        decoding="async"
        class="h-4  dark:invert"
      />
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/1024px-OpenAI_Logo.svg.png"
        alt="b1 Logo"
        width="200"
        height="100"
        loading="lazy"
        decoding="async"
        class="h-4  dark:invert"
      />
    </div>
    <div class="absolute inset-0 w-full bg-linear-45 from-background via-transparent to-background">
    </div>
  </div>
</section>
