@font-face {
  font-family: "Haskoy";
  src: url("/fonts/woff2/Haskoy-variable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Haskoy";
  src: url("/fonts/woff2/static/Haskoy-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Haskoy";
  src: url("/fonts/woff2/static/Haskoy-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Haskoy";
  src: url("/fonts/woff2/static/Haskoy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Haskoy";
  src: url("/fonts/woff2/static/Haskoy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Haskoy";
  src: url("/fonts/woff2/static/Haskoy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Haskoy";
  src: url("/fonts/woff2/static/Haskoy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Haskoy";
  src: url("/fonts/woff2/static/Haskoy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Haskoy";
  src: url("/fonts/woff2/static/Haskoy-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}